/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 5px #ccc;
  width: fit-content;
}

input[type="color"] {
  margin-top: 10px;
  padding: 0;
  margin-bottom: 10px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#box{
width: 100px;
border-radius: 4px;

}

#btn {
  padding: 10px;
  width: 120px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: blue;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 6px;
}
a{
  text-decoration: none;
  color: black;

}

a:hover{
  color: blue;
  transform: scale(1.1);
}

#btn:hover {
  transform: scale(1.1);
}

#btn:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

