/* Base styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #666;
}


/* Centered container for the page content */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: aliceblue ;
filter: opacity(10px);
  width: fit-content;
  margin: 140px auto 0;
  text-align: center;
  border: 3px solid;
  border-radius: 20px;
  box-shadow: 10px 10px;
  padding: 40px;
}
#main > h2{
  font-size: 23px;
}

input[type='text'] {
  padding: 10px;
  border-radius: 1px;
  box-shadow: 5px 5px;
  border: 1px solid;
  margin: 20px 0;
  border-radius: 20px;
}

input[type="color"] {
  color: navy;
  appearance: none;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 10%;
  background-color: #252525e9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


#btn {
  padding: 8px;
  font-size: large;
  font-weight: 200;
  border-radius: 3px;
}

#btn:hover {
  background-color: azure;
}

#btn:active {
  box-shadow: 3px 8px #666;
  transform: translateY(4px);
}
